<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Files</h1>
    </div>
</div>
{{vm.uploadProgress}}
<div class="row">
    <div class="col-lg-12">
        <div class="form form-inline">
            <input type="file"
                   nv-file-select
                   class="form-control"
                   uploader="vm.uploader">
        </div>

    </div>

    <div class="col-lg-12">
        <h2 class="page-header">List of files</h2>
        <ul>
            <li ng-repeat="file in vm.files"><a href="files/{{file}}">{{file}}</a></li>
        </ul>
    </div>
</div>