<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Images</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form form-inline">
            <input type="file"
                   nv-file-select
                   id="fileInput"
                   class="form-control"
                   uploader="vm.uploader">
        </div>
    </div>
    <div>
        <div class="cropArea">
            <img-crop image="vm.image.full" area-type="square" result-image="vm.image.cropped"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{vm.image.cropped}}" /></div>
    </div>
    <button class="btn btn-primary upload-cropped-btn" ng-click="vm.uploadCropped()">Upload cropped</button>
</div>

<style>
    .image-list {
        list-style: none;
    }

    .image-item {
        margin-bottom: 10px;
    }
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:500px;
        height:350px;
        float: left;
        margin: 10px;
    }

    .upload-cropped-btn {
        margin: 10px;
    }

</style>