<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form name="LoginForm">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="vm.credentials.email" validator="required, email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="vm.credentials.password" validator="required">
            </div>
            <button class="btn btn-primary" ng-click="vm.login()" ng-disabled="!vm.validateLogin('LoginForm')">Login</button>
            <a ui-sref="signup">Signup</a>
        </form>
    </div>
</div>